/* Header */

.hero {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 300px;
    width: 100vw;
    background-image: url(hero_image.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.herotitle {
    font-size: 50px;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    width: 80vw;
    text-align: center;

}

.footer {
    height: 200px;
    width: 100vw;
}

.navigation {
    position: absolute;
    top: 315px;
    left: 0px;
    width: 100vw;
    height: 40px;
    display: flex;
    justify-content: center;
    border-bottom: black 1px solid;
}

.nav {
    text-decoration: underline;
    color: black;
    margin-right: 5vw;
    margin-left: 5vw;
    transition: 0.3s;
}

	.nav:hover {
		color: purple;
		transition: 0.3s;
	}

/* Body Content */

body {
    font-family: Arial, Helvetica, sans-serif;
}

.content {
    position: absolute;
    top: 365px;
    height: fit-content;
    width: 100vw;
    padding-bottom: 50px;
}

h1 {
    width: 100vw;
    display: flex;
    justify-content: center;
}

h2 {
    margin-left: 60px;
    color: black
}

h3 {
    margin-left: 60px;
    color: darkblue;
}

p {
    margin-left: 60px;
    margin-right: 60px;
	font-size: 16px;
    line-height: 24px;
}

ul {
    margin-left: 90px;
    margin-right: 60px;
}

li {
    padding-top: 5px;
    padding-bottom: 5px;
}

strong {
    color: darkblue;
}

em {
    font-style: italic;
}

calc {
    font-style: italic;
}

table {
    margin-left: 60px;
    margin-right: 60px;
    border-collapse: collapse;
}

td {
    border: 1px solid black;
    padding: 8px;
}

th {
    border: 1px solid black;
    padding: 8px;
    background-color: lightgray;
}

figure {
    margin-left: 60px;
}


.hangingindent {
    padding-left: 76px;
    text-indent: -36px;
}

.citation {
    color: black;
}

    .citation:hover {
        color: purple;
        transition: 0.3s;
    }
